<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<th th:fragment="column_link(fieldName, columnLabel)">
		<a class="text-white"
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reserveSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
		 	[[${columnLabel}]]
		</a> 
		
		<span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></span>
	</th>
	
	<th th:fragment="page_link(pageNum, label)">
		<a class="page-link" 
			th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>
	</th>
</body>
</html>